.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Bottom_Field {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 20%;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  overflow: hidden;
  text-align: center;
  font-size: 50px;
  color: white;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.Output-box {
  position: absolute;
  top: 15%;
  height: 60%;
  overflow: hidden;
  overflow-y: scroll;
}

.input-user {
  height: 1rem;
  width: 40rem;
  /* min-height: 1rem; */
  /* max-height: 4rem; */
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  display: inline-block
}

.input-message {
  /* height: 1rem; */
  width: 40rem;
  /* min-height: 1rem; */
  /* max-height: 4rem; */
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  display: inline-block;
  white-space: normal;
}

.Create_Button {
  height: 2rem;
  width: 8rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-size: 20px;
}

.Todo {
  margin: 1rem;
  flex: auto;
  width: 50rem;
  border-radius: 5px;
  padding: 5px;
  font-size: 30px;
  background-color: grey;
  color: white; 
  align-items: center;
  justify-content: center;
  vertical-align: center;
  animation: fadeIn 1s;
  word-wrap: break-word;
}

.Delete_Button {
  height: 2rem;
  width: 4rem;
  border-radius: 5px;
  float: right;
  font-size: 1.5rem;
  color: red;
  vertical-align: middle;
  justify-content: center;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}

.Edit_Button {
  height: 2rem;
  width: 4rem;
  border-radius: 5px;
  float: right;
  font-size: 1.5rem;
  color: red;
  vertical-align: middle;
  justify-content: center;
}

.hide {
  display: none;
  height: 1rem;
  width: 70%;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  justify-content: center;
}

.show {
  display: block;
}




i {
  font-size: 1rem;
  color: white;
  vertical-align: bottom;
  justify-content: left;
  text-align: left;
  animation: fadeIn 1s;
}

